# データベースURL
DATABASE_URL="databese"
# シークレットキー
SECRET_KEY=abc

# adminログイン情報
ADMIN_NAME="abc"
PASSWORD="xyz"

# メール情報
MAIL_USERNAME=xxxx@gmail.com
MAIL_PASSWORD=アプリパスワード
MAIL_FROM=xxxx@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=ゆめり